<!DOCTYPE html>
<html>
    <title>Task manager</title>
    <head>
        <link rel="stylesheet" href="../../public/styles.css">
        <script>
            window.addEventListener("hashchange", function(e) {
  //window.location.replace('https://localhost:3000')
    window.location.replace('/')

})
        </script>

        <script>
           async function completeTask(id){
             //  const str = 'http://localhost:3000/tasks/'+id
                //window.location.replace(str)
               //console.log(str)
                await fetch('/tasks'+id,{
                method : 'DELETE',
                }).then(res => res.text()).then((data)=>{
                    console.log(data)
                   // window.location.replace('http://localhost:3000/users/me')
                    window.location.replace('/users/me')

                    }).catch(e=>console.log(e))
            }
        </script>
    </head>
    <body>
        {{>header}}
        <form id="log-out" method="POST" action="/users/logoutAll" style="text-align: right;">
        <button class="link-button">Log out</button>
        </form>
        <h2>Hello {{name}}</h2>
        <form  id="add-task" method="POST" action="/tasks" autocomplete="off">
        <input type="text" name="description" placeholder="description">
        <button>Add task</button>
        </form>
         <div class="error-msg">
                {{#if error}}
                <p>{{error}}</p>
                {{/if}}
            </div>
        <div id="todo">
        <h3>Tasks</h3>
        {{#tasks}}
        <br><br>
        <span>{{description}}</span>
        <input type="checkbox" onclick="completeTask('{{id}}')">
        {{/tasks}}
</div>       
       
   </body>
</html>