<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/styles.css">

        <script>
           async function completeTask(id){
               const str = 'http://localhost:3000/tasks/'+id
                //window.location.replace(str)
               //console.log(str)
                await fetch(str,{
                method : 'DELETE',
                }).then(res => res.text()).then((data)=>{
                    console.log(data)
                    window.location.replace('http://localhost:3000/users/me')
                    }).catch(e=>console.log(e))
            }
        </script>
    </head>
    <body>
        {{>header}}
        <h2>Hello {{name}}</h2>
         <form  id="add-task" method="POST" action="/tasks">
        <input type="text" name="description" placeholder="description">
        <input type="submit" name="submit">
        </form>
        <div id="todo">
        <h3>To-do</h3>
        {{#tasks}}
        <br>
        <span>{{description}}</span>
        <input type="checkbox" onclick="completeTask('{{id}}')">

        {{/tasks}}
</div>       
       
   </body>
</html>